/* ---- A spicy combination of...

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

and

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

-----------------------------------------------------  */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* * {
  outline: 1px solid red;
} */


/* -----  Root ----------  */


/* ------  Fonts ----------- */

@font-face {
  font-family: 'goudy';
  src: url("./fonts/GoudyOldStyle/goudy_oldstyle-webfont.woff2") format('woff2'),
    url('./fonts/GoudyOldStyle/goudy_oldstyle-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cardinal';
  src: url('./fonts/cardinal/cardinal-webfont.woff2') format('woff2'),
    url('./fonts/cardinal/cardinal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.goudy {
  font-family: "goudy", Georgia, 'Times New Roman', Times, serif;
}

.cardinal {
  font-family: "cardinal", Georgia, 'Times New Roman', Times, serif
}


body {
  background-color: #1c1a1a;
  color: #efefef;
  font-family: "goudy", Georgia, 'Times New Roman', Times, serif;
}


h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  max-width: 70ch;
}



/* ----------Base styles ---------  */



/* -------- Header & Banner ----------------- */

/* --- On small screens this area is pretty sparse -- */

header,
.intro p,
.intro__buttons {
  display: none;
}



/* -------- Banner section ----------------- */

.intro {
  margin-inline: auto;
  padding-top: 5%;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


h1 {
  margin-block: -10px;
}

.intro__text,
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro__text>div:first-of-type {
  width: 30%;
}

.intro__text img {
  max-width: 100%;
}


/* ----- News --------- */
/* This is just the design for the card items themselves.  To add new items, copy/paste the relevant bits on index.html and add a new entry in the next section. */

.card {
  max-height: 250px;
  border: 1px solid white;
  aspect-ratio: 1.91 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__txt {
  text-align: center;
  max-width: 60ch;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6)
}

.container {
  width: 90%;
  margin-inline: auto;
  margin-top: var(--s1);
  display: grid;
  grid-gap: min(1vw, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}


/* -------- News stories ---- */
/* Adding to the list of news stories is as easy as copy/pasting one of these entries and plugging in a new thumbnail.  Images should be cropped to a standard landscape ratio of 1.91:1.  Easy to do in Gimp or another image editing program! */


.hurloon {
  background: url("../images/thumbnails/hurloon_thumb.jpg") center/contain no-repeat;
}

.suft21_kinder {
  background: url("../images/thumbnails/suft21_kinder.jpg") center/contain no-repeat;
}

.suft21_draft {
  background: url("../images/thumbnails/suft21_draft.jpg") center/contain no-repeat;
}

.magic_turnier {
  background: url("../images/thumbnails/magic_turnier.jpg") center/contain no-repeat;
}




/* ---- Footer ----*/

footer {
  text-align: center;
  padding-bottom: 10px;
}



/* ------- Media Queries ---------- */


@media all and (min-width: 760px) {


  header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #cdcaca;
    background-color: #1c1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 1% 2%;
  }

  .logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  header .logo {
    width: 50px;
  }


  .top-nav {
    display: block;
    width: 80%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%
  }

  .top-nav .nav-links {
    justify-content: flex-end;
  }

  .menu-link {
    position: relative;
  }

  .menu-link::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
    background-color: white;
    transition: 0.3s;
  }

  .menu-link:hover::after {
    width: 100%;
    transition: all linear 250ms;
  }


  /* ------  changes to intro section ------  */

  .intro p {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 4rem;
  }

  .intro {
    margin: auto;
    margin-block: 5%;
  }

  .intro__text {
    justify-content: flex-end;
  }

  .intro__text img {
    max-width: 270px;
  }

  /* ---- Put logo next to title ------ */

  .intro__text {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .intro__buttons {
    width: 50%;
    margin: auto;
    display: flex;
    gap: 2rem;
  }


}